name: Build W-GarudaTools

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y cmake g++ ninja-build git

    - name: Configure project
      run: |
        mkdir build
        cd build
        cmake ..

    - name: Build project
      run: |
        cd build
        cmake --build .
